<nav class="nav">
  <%= link_to "Görevler", tasks_path %>
  <%= link_to "Kullanıcılar", users_path %>

<% if user_signed_in? %>
  <span><%= current_user.name %></span>
  <%= button_to "Çıkış", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Giriş", new_user_session_path %>
  <%= link_to "Kayıt Ol", new_user_registration_path %>
<% end %>

</nav>